/*
  a configuração CSS dos componentes do "header-nav"
  serão exportadas para o arquivo "assets/css/nav/nav.css"
 */

/* mobile */

@charset "UTF-8";

.nav__logo, .nav__nome {
  align-items: center;
  display: flex;
  flex-direction: row;

  font-size: 1rem;
  font-weight: 700;
  color: var(--sobremim);
}

/* tablet / laptop / desktop - sem alterações */
