/*
  a configuração CSS dos componentes do "hobbies"
  serão exportadas para o arquivo "assets/css/hobbies/hobbies.css"
 */

/* mobile */

.hobbies__container{
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--fundo);
  padding: 1rem;
}

/* tablet */

@media screen and (min-width:768px){

  .hobbies__container{
    padding: 2rem;
  }

}

/* laptop */

@media screen and (min-width:1024px) {

  .hobbies__container{
    margin: auto;
    padding: 5rem 7rem;

    max-width: 71rem;
  }

}

/* desktop */

@media screen and (min-width:1440px) {

  .hobbies__container{
    padding: 2rem 9.5rem;
  
      max-width: 58rem;
  }

}
